<form [formGroup]="studentForm" (ngSubmit)="saveStudent()" class="example-form">
  <mat-form-field class="example-full-width">
    <mat-label>First Name</mat-label>
    <input matInput placeholder="First Name" fromControlName ="firstName">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>First Name</mat-label>
    <input matInput placeholder="Last Name" fromControlName ="lastName">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Birth Date</mat-label>
    <input matInput [matDatepicker]="picker"  fromControlName ="birthDate">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Birth place</mat-label>
    <input matInput placeholder="Birth place" fromControlName ="birthplace">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Address</mat-label>
    <input matInput placeholder="Address"  fromControlName ="address">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>City</mat-label>
    <input matInput placeholder="City"  fromControlName ="city">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Classroom</mat-label>
    <mat-select  fromControlName ="classroom">
      <mat-option *ngFor="let classroom of classrooms" [value] ="classroom">
        {{classroom.cycle}}: {{classroom.level}}: {{classroom.label}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <section>
    <div>
      <img mat-card-image src="{{imageSrc}}"  (click)= "imageUploader.click()" class="card-image" >
    </div>
    <div>
      <input placeholder="Photo" type="file" 
      (change)="onImageUploaded($event)" #imageUploader formControlName="photo">
    </div>
  </section>

  <div class="button-row">
    <button mat-flat-button color="primary" type="submit">Save</button>
  </div>

</form>
