.example-card {
  max-width: 400px;
}

.mat-card-actions .flex-spacer{
  width: 100%;
}

.card-image{
  height: 300px;
  width: 300px;
  object-fit: contain;
}

.card-content{
  font-size: large;
  font-weight: bolder;
  margin: auto;
  text-align: center;
}
